<h1>Listing master_roles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @master_roles.each do |master_role| %>
      <tr>
        <td><%= link_to 'Show', master_role %></td>
        <td><%= link_to 'Edit', edit_master_role_path(master_role) %></td>
        <td><%= link_to 'Destroy', master_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master role', new_master_role_path %>
