<h1>Listing master_event_categories</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @master_event_categories.each do |master_event_category| %>
      <tr>
        <td><%= link_to 'Show', master_event_category %></td>
        <td><%= link_to 'Edit', edit_master_event_category_path(master_event_category) %></td>
        <td><%= link_to 'Destroy', master_event_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master event category', new_master_event_category_path %>
