<!-- Error Container -->
<div id="error-container">
  <div class="error-options">
    <!-- <h3><i class="fa fa-chevron-circle-left text-muted"></i> <a href="page_ready_search_results.html">Go Back</a></h3> -->
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1><i class="fa fa-cog fa-spin text-danger"></i> 500</h1>
      <h2 class="h3">Oops, we are sorry but our server encountered an internal error..<br>But do not worry, we are on it..</h2>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <a href="<%=root_url%>" class="btn btn-primary btn-lg btn-block" >Back to HUKapp</a>
    </div>
  </div>
</div>
<!-- END Error Container -->